/* Wildcard selector to override default styles given to the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Site Header Styling */

header {
    background-color: #999;
}

/* Main Content Styling */

/* Pushes Footer down page */
main {
    flex: 1 0 auto;
    background-color: whitesmoke;
  }

.game-section {
    display:flex;
    padding: 5px;
    background-color: bisque;
}

/* Game Start Button styling */
.start-btn {
    display:flex;
    width: 300px; 
    height: 150px;
    background-image: url('../images/game-assets/play-btn.webp');
    background-size: cover;
    cursor: pointer; 
    transition: background-image 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.start-btn:hover {
    width: 320px;
    height:170px;
    background-image: url('../images/game-assets/play-btn-hover.webp');
}

/* Game Main Menu Button styling */
.gameMenu-btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.gameMenu-btn:hover {
    background-color: #3e8e41;
    transition: 0.3s;
}

.gameMenu-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#gameContainer {
    display:flex;
    border: #6ECC64 5px;
    padding:10px;
}

/* Game Instruction section */
.instruction-section {
    background-color: aquamarine;
}

/* Site Feedback section */
.feedback-section {
    background-color: pink;
}

/* Footer Styling */

footer {
    background-color: peru;
}  

/* Class to hide any Element */
  .hidden {
    display: none;
  }