/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Wildcard selector to override default styles given to the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Madimi One", "Rubik", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Site Header Styling */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e5e5;
    width: 100%;
    border-bottom: 15px solid #08193B;
    z-index: 100;
    background-image: url('../images/site-images/site-header-img.webp');
    background-size: cover;
    background-position: center center;

}

header h1 {
    margin: 5px;
    padding-top: 10px;
    font-size: 1000%;
}

#logo {
    text-decoration: none;
    color: #4C9D44;
}

#logo span {
    color: #8259B0;
}

nav {
    display: flex;
    justify-content: center;
    font-size: 180%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #08193B;
    border: 5px solid #4c9d44;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 2px #4c9d44;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 10px;
}

nav a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid #08193B;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

nav i {
    text-decoration: none;
    color: #4CAF50;
}

nav span {
    color: #9457D9;
}

nav a:hover {
    background-color: #C9C9C9;
    border-radius: 10px;
    border: 3px solid #8259B0;
    color: #4C9D44;
}

.active {
    background-color: #C9C9C9;
    border-radius: 10px;
    border: 3px solid #8259b0;
    color: #4C9D44;
}

/* Main Content Styling */

/* Pushes Footer down page */
main {
    flex: 1 0 auto;
    background-color: whitesmoke;
    background-image: url('../images/site-images/night-sky-art.webp');
    background-size: cover;
    background-position: center;
}

.game-section {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 100;
    background-color: #08193B;
    background-image: url('../images/site-images/site-background.webp');
    background-size: fit;
    background-position: center center;
}

#gameCanvas {
    width: 100%;
    height: 100%;
}

/* Game Start Button styling */
.start-btn {
    display: flex;
    position: absolute;
    width: 300px;
    height: 150px;
    background-image: url('../images/game-assets/play-btn.webp');
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.start-btn:hover {
    width: 320px;
    height: 170px;
    background-image: url('../images/game-assets/play-btn-hover.webp');
}

/* Game Menu Button styling */
.gameMenu-btn {
    display: flex;
    position: absolute;
    width: 300px;
    height: 150px;
    top: 650px;
    background-image: url('../images/game-assets/menu-btn.webp');
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.gameMenu-btn:hover {
    width: 320px;
    height: 170px;
    background-image: url('../images/game-assets/menu-btn-hover.webp');
}

/* Game Start Button styling */
.gameHtp-btn {
    display: flex;
    position: absolute;
    width: 300px;
    height: 150px;
    top: 600px;
    background-image: url('../images/game-assets/howtoplay-btn.webp');
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.gameHtp-btn:hover {
    width: 320px;
    height: 170px;
    background-image: url('../images/game-assets/howtoplay-btn-hover.webp');
}

.gameRestart-btn {
    display: flex;
    position: absolute;
    width: 300px;
    height: 150px;
    top: 520px;
    background-image: url('../images/game-assets/restart-btn.webp');
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.gameRestart-btn:hover {
    width: 320px;
    height: 170px;
    background-image: url('../images/game-assets/restart-btn-hover.webp');
}

.gameGoBack-btn {
    display: flex;
    position: absolute;
    width: 300px;
    height: 150px;
    top: 800px;
    background-image: url('../images/game-assets/goback-btn.webp');
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.gameGoBack-btn:hover {
    width: 320px;
    height: 170px;
    background-image: url('../images/game-assets/goback-btn-hover.webp');
}

.howtoplay-list {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
    width: 700px;
    height: 400px;
    top: 330px;
    border: 3px solid black;
    background-image: url('../images/game-assets/howtoplay-div-img.webp');
    background-size: cover;

}

.howtoplay-list h2 {
    font-size: 250%;
}

.howtoplay-list p,
ol {
    font-size: 150%;
    line-height: 2;
}

.howtoplay-list span {
    color: #9457D9;
}

.gameScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: 35px;
    font-family: "Madimi One", "Rubik", sans-serif;
    color: #7AD071;
    top: 16px;

}

.gameScore>span {
    color: #C6A6EA;
}

.gameOverScore {
    top: 350px;
    font-size: 60px;
}

.audioToggle {
    position: absolute;
    top: 90%;
    left: 95%;


}

.audio-btn {
    position: relative;
    background-color: #08193B;
    border: 3px solid #4CAF50;
    color: #C6A6EA;
    font-size: 180%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;

}

#gameContainer {
    display: flex;
    width: 1920px;
    height: 1080px;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    z-index: 100;

}

#gameCanvas {
    width: 100%;
    height: 100%;
}

/* Feedback Form */

.feedback-section {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 20px;
    background-color: rgba(229, 229, 229, 0.8);
}

#feedback-form {
    padding: 10px;
    margin-right: 100px;
    font-size: 150%;
}

form h2 {
    color: #08193B;
    font-size: 200%;
    margin-bottom: 20px;
}

.feedback-section label {
    display: flex;
    font-size: 125%;
    font-weight: bold;
    color: #08193B;
}

.text-input {
    color: black;
    width: 60%;
    height: 50px;
    margin: 5px 0 20px 0;
    border: 2px solid #4c9d44;
    border-radius: 2px;
    padding: 0 5px;
    font-size: 100%;
}

.text-input:hover {
    border-color: #08193B;
}

.user-suggestion {
    color: black;
    width: 100%;
    height: 200px;
    margin: 5px 0 20px 0;
    border: 2px solid #4c9d44;
    border-radius: 2px;
    padding: 0 5px;
    font-size: 100%;
}

.submit-btn {
    margin-top: 5px;
    border-radius: 15px;
    padding: 15px 32px;
    font-size: 100%;
    border: 5px solid #4c9d44;
    color: #C6A6EA;
    background-color: #08193B;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #C9C9C9;
    border-color: #08193B;
    color: #4c9d44;
}

.feedback-description {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #4c9d44;
    border-radius: 100px;
    padding: 20px;
    font-size: 150%;
    background-color: #08193B;
    text-align: center;
    background-image: url('../images/site-images/night-sky-art.webp');
    background-size: cover;
    background-position: center center;
}

.feedback-description h3 {
    font-size: 300%;
    color: #C6A6EA;
}

.feedback-description p {
    text-align: center;
    margin-top: 10px;
    font-size: 180%;
    color: #4c9d44;
}

#feedback-img {
    margin-top: 100px;
    width: 100%;
    height: 400px;
    background-image: url('../images/site-images/site-alien.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* 404.html styles */

#error-page-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: 190%;
    background-color: #e5e5e5;
    background-image: url('../images/site-images/site-header-img.webp');
    background-size: fit;
    background-position: center center;
    border: 10px solid #08193B;
    box-shadow: 0 2px 2px #08193B;
    border-radius: 20px;
    margin: 300px auto;
    width: 35%;
    height: 430px;
    padding: 25px;
}

.support-message {
    font-size: 70%;
}

.support-message span {
    color: #08193B;
}

#error-page-section h2 {
    color: #9457D9;
    padding-bottom: 20px;
}

#error-page-section a {
    text-decoration: none;
    color: #C6A6EA;
    padding: 10px 20px;
    margin: 0 10px;
    border: 3px solid #4c9d44;
    border-radius: 10px;
    background-color: #08193B;
    transition: background-color 0.3s ease;
    display: inline-block;
}

#error-page-section i {
    color: #4c9d44;
}

#error-page-section a:hover {
    color: #4c9d44;
    background-color: #C9C9C9;
    border-color: #08193B;
}

/* Footer Styling */

/* Footer inspired and edited from "Love Running" by Code Institute */

footer {
    position: relative;
    background-color: #e5e5e5;
    padding: 5px;
    box-shadow: 0 -2px 2px #08193B;
    padding-bottom: 70px;
    background-image: url('../images/site-images/site-header-img.webp');
    background-size: fit;
    background-position: center center;
}

#social-media {

    text-align: center;
    padding: 10px 10px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#social-media a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: whitesmoke;
    display: inline-flex;
    align-items: center;
    padding-top: 5px;

}

#social-media i {
    display: flex;
    color: #C6A6EA;
    background-color: #08193B;
    font-size: 250%;
    border: 4px solid #4C9D44;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    padding: 10px;
}

#social-media a span {
    margin-left: 7px;
    padding: 7px;
    font-size: 130%;
    color: #9457D9;
}

#social-media i:hover {
    background-color: #C9C9C9;
    color: #4c9d44;
    border-color: #08193B;
}

#footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #08193B;
    border: 5px solid #4c9d44;
}

#footer-div p {
    color: #C6A6EA;
}

/* Class to hide any Element */
.hidden {
    display: none;
}

/* Very Small screen devices (phones, 430px and below) */
@media screen and (max-width: 430px) {

    /* Header & Nav styling for Mobile screens (430px and below) */

    header {
        text-align: center;
    }

    header h1 {
        padding-top: 5px;
        font-size: 500%;
        margin-bottom: 10px;
    }

    nav {
        font-size: 150%;
        padding: 7px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    nav li {
        margin: 5px;
    }

    nav a {
        padding: 5px;
        font-size: 100%;
    }

    /* Game styling for Mobile screens (430px and below) */

    #gameContainer {
        display: flex;
        width: 95vw;
        height: 80vh;
    }

    .start-btn {
        width: 200px;
        height: 100px;
        top: 280px;
    }

    .gameHtp-btn {
        width: 200px;
        height: 100px;
        top: 370px;
    }

    .gameScore {
        font-size: 25px;
        top: 16px;
    }

    .gameOverScore {
        top: 250px;
        font-size: 30px;
    }

    .gameRestart-btn {
        width: 200px;
        height: 100px;
        top: 330px;
    }

    .gameMenu-btn {
        width: 200px;
        height: 100px;
        top: 420px;
    }

    .gameGoBack-btn {
        width: 200px;
        height: 100px;
        top: 500px;
    }

    .howtoplay-list {
        width: 95%;
        height: 300px;
        text-align: center;
        justify-content: center;
        top: 200px;
        
    }

    .howtoplay-list h2 {
        font-size: 160%;
    }

    .howtoplay-list p,
    ol {
        font-size: 85%;
    }

    .howtoplay-list ol li {
        text-align: center;
        list-style-position: inside;
    }

    .audio-btn {
        right: 50px;
        bottom: 5px;
        font-size: 150%;
    }

    /* Feedback section styling for Mobile screens (430px and below) */

    .feedback-section {
        flex-direction: column-reverse;
    }

    #feedback-form {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form h2 {
        text-align: center;
        font-size: 200%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .feedback-section label {
        font-size: 115%;
    }

    .text-input {
        text-align: center;
        width: 90%;
    }

    .user-suggestion {
        text-align: center;
    }

    .feedback-description {
        width: 100%;
        border-radius: 50px;
        padding: 15px;
        font-size: 140%;
        background-color: #08193B;
        text-align: center;
    }

    .feedback-description h3 {
        font-size: 280%;
    }

    .feedback-description p {
        margin-top: 10px;
        font-size: 160%;
    }

    #feedback-img {
        margin-top: 40px;
        width: 100%;
        height: 400px;
    }

    /* Footer styling for Mobile screens (430px and below) */

    #social-media {
        padding-top: 0;
    }

    #social-media a span {
        display: none;
    }
}

/* Small screen devices (tablets, etc between 431px and 768px width) */
@media screen and (max-width: 768px) and (min-width:431px) {

    /* Header & Nav styling for Tablet screens (Between 431px to 768px) */

    header {
        text-align: center;
    }

    header h1 {
        padding-top: 5px;
        font-size: 700%;
        margin-bottom: 10px;
    }

    nav {
        font-size: 170%;
        padding: 7px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    nav li {
        margin: 5px;
    }

    nav a {
        padding: 5px;
        font-size: 100%;
    }

    /* Game styling for Tablet screens (Between 431px to 768px) */

    #gameContainer {
        display: flex;
        width: 95vw;
        height: 80vh;
    }

    .start-btn {
        width: 200px;
        height: 100px;
        top: 290px;
    }

    .gameHtp-btn {
        width: 200px;
        height: 100px;
        top: 380px;
    }

    .gameScore {
        font-size: 25px;
        top: 16px;
    }

    .gameOverScore {
        top: 300px;
        font-size: 30px;
    }

    .gameRestart-btn {
        width: 200px;
        height: 100px;
        top: 290px;
    }

    .gameMenu-btn {
        width: 200px;
        height: 100px;
        top: 380px;
    }

    .gameGoBack-btn {
        width: 200px;
        height: 100px;
        top: 530px;
    }

    .howtoplay-list {
        width: 80%;
        height: 300px;
        top: 220px;
        background-position: 0 -25px;
    }

    .howtoplay-list h2 {
        font-size: 220%;
    }

    .howtoplay-list p,
    ol {
        font-size: 120%;
    }

    .audio-btn {
        top: -20px;
        right: 30px;
        bottom: 5px;
        font-size: 150%;
    }

    /* Feedback section styling for Tablet screens (Between 431px to 768px) */

    .feedback-section {
        flex-direction: column-reverse;
    }

    #feedback-form {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form h2 {
        text-align: center;
        font-size: 200%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .feedback-section label {
        font-size: 115%;
    }

    .text-input {
        text-align: center;
        width: 70%;
    }

    .user-suggestion {
        text-align: center;
        width: 90%;
    }

    .feedback-description {
        width: 100%;
        border-radius: 50px;
        padding: 15px;
        font-size: 140%;
        background-color: #08193B;
        text-align: center;
    }

    .feedback-description h3 {
        font-size: 280%;
    }

    .feedback-description p {
        margin-top: 10px;
        font-size: 160%;
    }

    #feedback-img {
        margin-top: 40px;
        width: 100%;
        height: 400px;
    }

    /* Footer styling for Tablet screens (Between 431px to 768px) */

    #social-media {
        padding-top: 0;
    }

    #social-media a span {
        display: none;
    }
}

/* Medium screen devices (Laptops, etc between 769px and 1440px width) */
@media screen and (max-width: 1440px) and (min-width:769px) {

    /* Game styling for Laptop screens (Between 769px to 1440px) */

    #gameContainer {
        display: flex;
        width: 95vw;
        height: 80vh;
    }

    .start-btn {
        width: 200px;
        height: 100px;
        top: 320px;
    }

    .gameHtp-btn {
        width: 200px;
        height: 100px;
        top: 420px;
    }

    .gameScore {
        font-size: 25px;
        top: 16px;
    }

    .gameOverScore {
        top: 300px;
        font-size: 30px;
    }

    .gameRestart-btn {
        width: 200px;
        height: 100px;
        top: 320px;
    }

    .gameMenu-btn {
        width: 200px;
        height: 100px;
        top: 420px;
    }

    .gameGoBack-btn {
        width: 200px;
        height: 100px;
        top: 520px;
    }

    .howtoplay-list {
    
        width: 600px;
        height: 300px;
        top: 220px;
        background-position: 0 -30px;
    }

    .howtoplay-list h2 {
        font-size: 220%;
    }

    .howtoplay-list p,
    ol {
        font-size: 120%;
        line-height: 2;
    }

    .audio-btn {
        top: -20px;
        right: 25px;
        bottom: 5px;
        font-size: 150%;
    }

    /* Feedback section styling for Laptops (Between 769px and 1440px width)*/

    #feedback-form {
        margin: 30px;
    }

    .feedback-description {
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        padding: 20px;
        font-size: 150%;
        text-align: center;
    }

    .feedback-description h3 {
        font-size: 300%;
    }

    .feedback-description p {
        text-align: center;
        margin-top: 10px;
        font-size: 180%;
    }

    #feedback-img {
        margin-top: 0;
        width: 100%;
        height: 400px;
    }
}